@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* APPLY CUSTOM CLASSES */

/* SIDEBAR */

.sidebar-h3 {
  @apply font-light text-slate-500;
}

.flex-between {
  @apply flex justify-between items-center;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
